<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.wethejumpingspiders.isslocationapi">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
            tools:replace="android:appComponentFactory"
    />
</manifest>
